main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: #A0A0A0;
}

#boxReseaux img{
    width: 100%;
    height: 100%;
    fill: #482323;
    -webkit-text-fill-color: #482323;
    color: #482323;
    cursor: pointer;
}
#boxReseaux{
    width: 35px;
    height: 214px;
    position: absolute;
    right: 30px;
    top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#boxReseaux img{
    width: 100%;
    height: auto;
    cursor: pointer;
}
.main article{
    width: 80%;
    height: 68%;
    display: flex;
    align-items: flex-end;
}
.main article div{
    width: 526px;
    height: 322px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.main article div h1{
    width: 100%;
    height: 100px;
    font-size: 2.8rem;
    display: flex;
    align-items: center;
    font-weight: 600;
}
#boxCertif{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;

}
#boxCertif h5{
    margin: 10px 0px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #A0A0A0;
}
#boxBtn{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: row;
}
#boxBtn button:nth-last-child(1){
    padding: 6px 19px;
    border-radius: 1.5px;
}
#boxBtn button{
    margin-right: 50px;
    font-size: 1.3rem;
    padding: 6px 8px;
    color: #A0A0A0;
    background-color: #482323;
    border: 0px;
    cursor: pointer;
    border-radius: 3px;
}
.menu{
    display: none;
    color: #482323;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
#aboutMe{
    height: 100%;
    width: 100%;
    background: #000;
    z-index: 300;
    position: fixed;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    overflow: scroll;
    display: none;
}
#aboutMe h2{
    text-transform: uppercase;
    margin-top: 10%;
}
#aboutMe p {
    width: 60%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
#xMark{
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
@media screen and (max-width : 1000px) {
    .menu{
        display: block;
    }
    ul{
        display: none;
    }
    #boxReseaux img{
        display: none;
    }
}
@media screen and (max-width : 600px) {
    #boxBtn button{
        margin-right: 50px;
        font-size: 1rem;
        padding: 6px 8px;
    }
    .main article div{
        width: 526px;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (max-width : 500px) {
    #xMark{
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px;
        height: 30px;
        width: 30px;
    }
    article div h1{
        font-size: 2rem;
    }
    h5{
        font-size: 1.1rem;
    }
    article div{
        width: 100%;
    }
    #aboutMe h2{
        text-transform: uppercase;
        margin-top: 20%;
    }
    #boxBtn{
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: baseline;
    }
    #aboutMe p {
        width: 80%;
    }
}
@media screen and (max-width : 440px) {
    button{
        font-size: 1rem;
        width: 50%;
        padding: 6px 4px;
    }
    #boxBtn{
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: baseline;
    }
}
@media screen and (max-width : 360px) {
    #boxBtn button{
        margin-right: 50px;
        margin-top: 10px;
        font-size: 0.9rem;
        padding: 6px 3px;
    }
    #boxBtn button:nth-last-child(1){
        padding: 6px 3px;
        border-radius: 1.5px;
    }
}